* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    
}

#interface{
    height: 100px;
    border: solid black 1px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

#pen-width-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#width-box{
   
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    
}
#width-example{
    border-width: none;
    width: 1px;
    background-color: #0000ff;
}

#colour{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



#tool-colour{
    border-radius: 4px;
    margin-top: 18px;
}

#tools-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tools{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
    
}

.button{
    border-style: outset;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    height: 30px;
    width: 100px;
    transition: 0.2s;
}

.button:hover{
    transform: scale(1.05);
}

.active{
    filter: contrast(3);
    transform: scale(0.9);
}

#settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}






