* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;

    /* border: solid blue 3px; */
    
}

#interface{
   height: 100px;
    border: solid black 1px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

#width-box{
    /* overflow: hidden; */
    border: solid black 1px;
    background-color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    
}
#width-example{
    border-width: none;
    width: 1px;
    background-color: #0000ff;
}

#canvas{
    /* border: solid red 1px; */
   
}

#canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.test{
    border-top: solid black 1px;
}
ul{
    list-style: none;
}

li{
    border: solid black 1px;
    cursor: pointer;
}